* {
  box-sizing: border-box;  
}
nav .container-fluid {
    padding: 0;
}
.navbar-header {
    padding: 0 10px;
    background: gray;
    width: -webkit-fill-available
}
.menu-item {
    background: gray;
}
.menu-desc {
    padding: 5px 10px;
    height: 1000px;
}
.navbar-nav {
    background: '#ffca2f';
}
#menu-list {
    background-color: black;
    margin-top: 0;
    margin-bottom: 0;
}
#main-heading {
    color: black;
}
