* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: Monospace;
	overflow: wrap;
}
h1 {
	margin: 10px;
	text-align: center;
	font-size: 175%;
}
.section {
	border: 1px solid black;
	margin-right: 5%;
	margin-bottom: 2%;
	background-color: gray;
	position: relative;
}
p {
	padding: 0px 10px 0px 10px;
	clear: right;
}
h2 {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	text-align: center;
	width: 120px;
	float: right;
	font-size: 125%;
}
.divStyle: {
	float: left;
	width: 50%;
}	
h2.chicken {
	background-color: pink;
}
h2.beef {
	background-color: red;
}
h2.sushi {
	background-color: green;
}
.row {
	width: 100%;
	position: relative;
	margin-left: 5%;
}

@media all and (min-width: 992px) {

  	.section {
	  	margin-right: 2%;
	  	float: left;
	  	width: 30.66%;
  	}
  	.row {
  		margin-left: 2%;
  	}
}

@media all and (max-width: 991px) and (min-width: 768px) {
	.section {
		margin-right: 2%;
		float: left;
		width: 47%;
	}
	.section:nth-child(3) {
		margin-right: 2%;
		float:left;
		width: 96%;
	}
	.row {
		margin-left: 2%;
	}
}